<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Actions <span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a href="<%= admin_content_page_blueprints_export_path %>">Export</a></li>
		<li><a href="<%= admin_content_page_blueprints_import_path %>">Import</a></li>
	</ul>
</div>
